$zen-columns: 12 !global;
$zen-gutters: 20px !global;

body {
  background-color: $body-background-color;
}

a:link,
a:visited,
.pane-ding-facetbrowser a:visited,
.pane-search-backends a:visited,
.pane-ding-toggle-format-toggle #ding-toggle-format.ding-toggle-format-short:before,
.pane-ding-toggle-format-toggle #ding-toggle-format.ding-toggle-format-long:after,
.pane-ting-object .collapsible .field-group-format-title:before,
.pane-ting-object .ding-periodical-fold:before {
  color: $link-color;
}

.ding-library-opened-today {
  a {
    color: $white;
  }
}

.topbar-inner {
  position: relative;

  .topbar-menu {
    bottom: 0;
    position: absolute;
    right: 0;
  }
}

.ding_nodelist-horizontal_accordion .expand,
.ding_nodelist-horizontal_accordion .slide-open .expand,
.ding_nodelist-slider .next-prev a {
  background-color: $topbar-background-color;
}

.navigation-wrapper {
  background-color: transparent;
}

.site-name {
  display: none;
}

.main-menu {
  .menu-item.active {
    position: relative;
    text-decoration: none;
  }

  .menu-item.active:after {
    background-color: $black;
    bottom: 0;
    content: "";
    height: 4px;
    left: 0;
    position: absolute;
    width: 100%;
  }

  li {
    display: block;
    float: left;
    width: 25%;

    a {
      display: block;
      width: 100%;

      span {
        color: $white;
        margin-left: 10px;
      }
    }

    a:hover {
      color: $white;
      text-decoration: none;
    }
  }

  li:first-child {
    background-color: $menu-item-1-background-color;
  }

  li:first-child + li {
    background-color: $menu-item-2-background-color;
  }

  li:first-child + li + li {
    background-color: $menu-item-3-background-color;
  }

  li:first-child + li + li + li {
    background-color: $menu-item-4-background-color;
  }
}

.secondary-menu {
  background-color: $black;
  display: block;
  width: 100%;

  .menu-item.active,
  .menu-item,
  .menu-item:hover {
    color: $white;
    font-size: $font-size-large;
  }

  .menu-item,
  .first .menu-item {
    display: block;
    margin-left: 10px;
    margin-right: 0;
  }

  li {
    border: none;
    display: block;
    float: left;
    width: 50%;
  }
}

.search .form-text,
.search-field-in-content .form-text,
.user .form-text,
.search .form-submit,
.search-field-in-content .form-submit,
.user .form-submit {
  border-radius: 0;
}

.search label,
.user label {
  display: none;
}

.search .form-submit,
.search-field-in-content .form-submit,
.user .form-submit {
  margin-top: 0;
}

header .search .form-actions,
header .search-field-in-content .form-actions,
.pane-user-login .form-actions {
  top: 0;
}

.topbar {
  margin-bottom: 13px;
}

.logo img {
  max-height: inherit;
}

.topbar-menu {
  .menu-item {
    background-color: $black;
    font-size: $font-size-larger;
    line-height: 60px;
    margin-left: 20px;
    min-height: 60px;
    padding-bottom: 0;
    padding-top: 0;
    text-shadow: none;
  }

  .menu-item.active {
    background-color: $menu-item-1-background-color;
  }
}

.pane-ding-library-opening-hours-ding-library-opened-today {
  background-color: $black;
  min-height: 370px;

  .pane-title,
  .library .hours {
    color: $white;
  }

  ul .library,
  ul .library:nth-of-type(2n+2) {
    background-color: transparent;
    border-bottom: 1px dashed $white;
  }

  ul .library:first-child {
    border-top: 1px dashed $white;
  }
}

.ding-library-opening-hours .day .hours {
  color: $white;
}

.ding_nodelist .event-time .event-day,
.ding_nodelist-carousel .pagination .selected,
.label a:link,
.view-node-search-result .list-item .field-type-taxonomy-term-reference a a:link,
.ting-reference-reverse-list .list-item .field-type-taxonomy-term-reference a a:link,
.subjects .subject a:link,
.news-list .news-label a:link,
.super-heading .field-name-field-ding-news-library .field-item a:link,
.label a:visited,
.view-node-search-result .list-item .field-type-taxonomy-term-reference a a:visited,
.ting-reference-reverse-list .list-item .field-type-taxonomy-term-reference a a:visited,
.subjects .subject a:visited,
.news-list .news-label a:visited,
.super-heading .field-name-field-ding-news-library .field-item a:visited,
.event-list-leaf .event-list-day {
  background-color: $label-bg-color;
}

.label a:hover,
.view-node-search-result .list-item .field-type-taxonomy-term-reference a a:hover,
.ting-reference-reverse-list .list-item .field-type-taxonomy-term-reference a a:hover,
.subjects .subject a:hover,
.news-list .news-label a:hover,
.super-heading .field-name-field-ding-news-library .field-item a:hover {
  background-color: $label-bg-color-hover;
}

.bottom {
  background-color: $bottom-background-color;
}

.sub-menu {
  > li {
    background-color: $link-color;
    padding-left: 10px;
  }

  > li a,
  > li a:hover,
  li:before {
    color: $white;
  }
}

.attachment-first {
  @include zen-grid-item(4, 1);
}

.attachment-second {
  @include zen-grid-item(4, 5);
}

.attachment-third {
  @include zen-grid-item(4, 1, right);
}

.attachment-fourth,
.ding_nodelist .category,
.ding_nodelist .article-info .label {
  display: none;
}

.main-menu .menu-item,
.header-wrapper .pane-user-menu .sub-menu .menu-item,
.secondary-menu .menu-item,
.system-user-menu .menu-item {
  padding-bottom: 10px;
  padding-top: 10px;
}

.ding_nodelist {
  .node {
    .item-date,
    .library,
    .item-price {
      display: none;
    }
  }
}

@include small-medium() {
  .main-menu li {
    padding-left: 10px;
    width: 100%;
  }

  .secondary-menu li {
    background-color: $black;
    padding-left: 10px;
    width: 100%;
  }

  .pane-ding-library-opening-hours-ding-library-opened-today {
    min-height: initial;
  }

  .topbar-menu .menu-item {
    font-size: $font-size-reset;
  }

  .attachment-first,
  .attachment-third,
  .attachment-second {
    @include zen-grid-item(12, 1);
    clear: both;
  }
}
